In [2]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
%matplotlib inline

In [3]:
df = pd.read_csv('cdc_zika.csv')

C:\Users\Ryan\AppData\Local\Continuum\Miniconda3\lib\site-packages\IPython\core\interactiveshell.py:2723: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df.head(10)

,report_date,location,location_type,data_field,data_field_code,time_period,time_period_type,value,unit
0,2016-03-19,Argentina-Buenos_Aires,province,cumulative_confirmed_local_cases,AR0001,NaN,NaN,0,cases
1,2016-03-19,Argentina-Buenos_Aires,province,cumulative_probable_local_cases,AR0002,NaN,NaN,0,cases
2,2016-03-19,Argentina-Buenos_Aires,province,cumulative_confirmed_imported_cases,AR0003,NaN,NaN,2,cases
3,2016-03-19,Argentina-Buenos_Aires,province,cumulative_probable_imported_cases,AR0004,NaN,NaN,1,cases
4,2016-03-19,Argentina-Buenos_Aires,province,cumulative_cases_under_study,AR0005,NaN,NaN,127,cases
5,2016-03-19,Argentina-Buenos_Aires,province,cumulative_cases_discarded,AR0006,NaN,NaN,0,cases
6,2016-03-19,Argentina-CABA,province,cumulative_confirmed_local_cases,AR0001,NaN,NaN,0,cases
7,2016-03-19,Argentina-CABA,province,cumulative_probable_local_cases,AR0002,NaN,NaN,0,cases
8,2016-03-19,Argentina-CABA,province,cumulative_confirmed_imported_cases,AR0003,NaN,NaN,9,cases
9,2016-03-19,Argentina-CABA,province,cumulative_probable_imported_cases,AR0004,NaN,NaN,0,cases

In [5]:
df['Country'] = df['location'].apply(lambda x: str(x).split('-')[0])
df['City'] = df['location'].apply(lambda x: str(x).split('-')[1] if '-' in str(x) else None)

In [6]:
del df['location']

In [7]:
df.head(15)

,report_date,location_type,data_field,data_field_code,time_period,time_period_type,value,unit,Country,City
0,2016-03-19,province,cumulative_confirmed_local_cases,AR0001,NaN,NaN,0,cases,Argentina,Buenos_Aires
1,2016-03-19,province,cumulative_probable_local_cases,AR0002,NaN,NaN,0,cases,Argentina,Buenos_Aires
2,2016-03-19,province,cumulative_confirmed_imported_cases,AR0003,NaN,NaN,2,cases,Argentina,Buenos_Aires
3,2016-03-19,province,cumulative_probable_imported_cases,AR0004,NaN,NaN,1,cases,Argentina,Buenos_Aires
4,2016-03-19,province,cumulative_cases_under_study,AR0005,NaN,NaN,127,cases,Argentina,Buenos_Aires
5,2016-03-19,province,cumulative_cases_discarded,AR0006,NaN,NaN,0,cases,Argentina,Buenos_Aires
6,2016-03-19,province,cumulative_confirmed_local_cases,AR0001,NaN,NaN,0,cases,Argentina,CABA
7,2016-03-19,province,cumulative_probable_local_cases,AR0002,NaN,NaN,0,cases,Argentina,CABA
8,2016-03-19,province,cumulative_confirmed_imported_cases,AR0003,NaN,NaN,9,cases,Argentina,CABA
9,2016-03-19,province,cumulative_probable_imported_cases,AR0004,NaN,NaN,0,cases,Argentina,CABA
10,2016-03-19,province,cumulative_cases_under_study,AR0005,NaN,NaN,68,cases,Argentina,CABA
11,2016-03-19,province,cumulative_cases_discarded,AR0006,NaN,NaN,1,cases,Argentina,CABA
12,2016-03-19,province,cumulative_confirmed_local_cases,AR0001,NaN,NaN,0,cases,Argentina,Catamarca
13,2016-03-19,province,cumulative_probable_local_cases,AR0002,NaN,NaN,0,cases,Argentina,Catamarca
14,2016-03-19,province,cumulative_confirmed_imported_cases,AR0003,NaN,NaN,0,cases,Argentina,Catamarca

In [8]:
by_c = df.groupby(df.City)

In [9]:
by_c.head()

,report_date,location_type,data_field,data_field_code,time_period,time_period_type,value,unit,Country,City
0,2016-03-19,province,cumulative_confirmed_local_cases,AR0001,NaN,NaN,0,cases,Argentina,Buenos_Aires
1,2016-03-19,province,cumulative_probable_local_cases,AR0002,NaN,NaN,0,cases,Argentina,Buenos_Aires
2,2016-03-19,province,cumulative_confirmed_imported_cases,AR0003,NaN,NaN,2,cases,Argentina,Buenos_Aires
3,2016-03-19,province,cumulative_probable_imported_cases,AR0004,NaN,NaN,1,cases,Argentina,Buenos_Aires
4,2016-03-19,province,cumulative_cases_under_study,AR0005,NaN,NaN,127,cases,Argentina,Buenos_Aires
6,2016-03-19,province,cumulative_confirmed_local_cases,AR0001,NaN,NaN,0,cases,Argentina,CABA
7,2016-03-19,province,cumulative_probable_local_cases,AR0002,NaN,NaN,0,cases,Argentina,CABA
8,2016-03-19,province,cumulative_confirmed_imported_cases,AR0003,NaN,NaN,9,cases,Argentina,CABA
9,2016-03-19,province,cumulative_probable_imported_cases,AR0004,NaN,NaN,0,cases,Argentina,CABA
10,2016-03-19,province,cumulative_cases_under_study,AR0005,NaN,NaN,68,cases,Argentina,CABA
12,2016-03-19,province,cumulative_confirmed_local_cases,AR0001,NaN,NaN,0,cases,Argentina,Catamarca
13,2016-03-19,province,cumulative_probable_local_cases,AR0002,NaN,NaN,0,cases,Argentina,Catamarca
14,2016-03-19,province,cumulative_confirmed_imported_cases,AR0003,NaN,NaN,0,cases,Argentina,Catamarca
15,2016-03-19,province,cumulative_probable_imported_cases,AR0004,NaN,NaN,0,cases,Argentina,Catamarca
16,2016-03-19,province,cumulative_cases_under_study,AR0005,NaN,NaN,14,cases,Argentina,Catamarca
18,2016-03-19,province,cumulative_confirmed_local_cases,AR0001,NaN,NaN,0,cases,Argentina,Chaco
19,2016-03-19,province,cumulative_probable_local_cases,AR0002,NaN,NaN,0,cases,Argentina,Chaco
20,2016-03-19,province,cumulative_confirmed_imported_cases,AR0003,NaN,NaN,0,cases,Argentina,Chaco
21,2016-03-19,province,cumulative_probable_imported_cases,AR0004,NaN,NaN,0,cases,Argentina,Chaco
22,2016-03-19,province,cumulative_cases_under_study,AR0005,NaN,NaN,48,cases,Argentina,Chaco
24,2016-03-19,province,cumulative_confirmed_local_cases,AR0001,NaN,NaN,0,cases,Argentina,Chubut
25,2016-03-19,province,cumulative_probable_local_cases,AR0002,NaN,NaN,0,cases,Argentina,Chubut
26,2016-03-19,province,cumulative_confirmed_imported_cases,AR0003,NaN,NaN,1,cases,Argentina,Chubut
27,2016-03-19,province,cumulative_probable_imported_cases,AR0004,NaN,NaN,0,cases,Argentina,Chubut
28,2016-03-19,province,cumulative_cases_under_study,AR0005,NaN,NaN,5,cases,Argentina,Chubut
30,2016-03-19,province,cumulative_confirmed_local_cases,AR0001,NaN,NaN,1,cases,Argentina,Cordoba
31,2016-03-19,province,cumulative_probable_local_cases,AR0002,NaN,NaN,0,cases,Argentina,Cordoba
32,2016-03-19,province,cumulative_confirmed_imported_cases,AR0003,NaN,NaN,1,cases,Argentina,Cordoba
33,2016-03-19,province,cumulative_probable_imported_cases,AR0004,NaN,NaN,1,cases,Argentina,Cordoba
34,2016-03-19,province,cumulative_cases_under_study,AR0005,NaN,NaN,22,cases,Argentina,Cordoba
...,...,...,...,...,...,...,...,...,...,...
105878,2016-06-15,state,zika_reported_travel,US0001,NaN,NaN,2,cases,United_States,Wisconsin
105951,2016-06-22,territory,zika_reported_travel,US0001,NaN,NaN,24,cases,United_States,Pennsylvania††
105952,2016-06-22,territory,zika_reported_local,US0002,NaN,NaN,0,cases,United_States,Pennsylvania††
105955,2016-06-22,state,zika_reported_local,US0002,NaN,NaN,0,cases,United_States,Rhode_Island
105956,2016-06-22,state,zika_reported_travel,US0001,NaN,NaN,11,cases,United_States,Rhode_Island
105957,2016-06-22,state,zika_reported_local,US0002,NaN,NaN,0,cases,United_States,South_Carolina
105958,2016-06-22,state,zika_reported_travel,US0001,NaN,NaN,1,cases,United_States,South_Carolina
105967,2016-06-22,state,zika_reported_local,US0002,NaN,NaN,0,cases,United_States,Vermont
105968,2016-06-22,state,zika_reported_travel,US0001,NaN,NaN,1,cases,United_States,Vermont
105975,2016-06-22,state,zika_reported_local,US0002,NaN,NaN,0,cases,United_States,Wisconsin
105976,2016-06-22,state,zika_reported_travel,US0001,NaN,NaN,2,cases,United_States,Wisconsin
106053,2016-06-29,state,zika_reported_local,US0002,NaN,NaN,0,cases,United_States,Rhode_Island
106055,2016-06-29,state,zika_reported_local,US0002,NaN,NaN,0,cases,United_States,South_Carolina
106065,2016-06-29,state,zika_reported_local,US0002,NaN,NaN,0,cases,United_States,Vermont
106073,2016-06-29,state,zika_reported_local,US0002,NaN,NaN,0,cases,United_States,Wisconsin
107111,2016-02-16,county,zika_reported,VI0001,NaN,NaN,20,cases,United_States_Virgin_Islands,Saint_Thomas
107112,2016-02-16,county,zika_reported,VI0001,NaN,NaN,41,cases,United_States_Virgin_Islands,Saint_Croix
107113,2016-02-16,county,zika_reported,VI0001,NaN,NaN,0,cases,United_States_Virgin_Islands,Saint_John
107134,2016-02-23,county,zika_reported,VI0001,NaN,NaN,27,cases,United_States_Virgin_Islands,Saint_Thomas
107135,2016-02-23,county,zika_reported,VI0001,NaN,NaN,35,cases,United_States_Virgin_Islands,Saint_Croix
107136,2016-02-23,county,zika_reported,VI0001,NaN,NaN,1,cases,United_States_Virgin_Islands,Saint_John
107176,2016-02-23,county,zika_reported,VI0001,NaN,NaN,21,cases,United_States_Virgin_Islands,Saint_Thomas
107177,2016-02-23,county,zika_reported,VI0001,NaN,NaN,49,cases,United_States_Virgin_Islands,Saint_Croix
107178,2016-02-23,county,zika_reported,VI0001,NaN,NaN,2,cases,United_States_Virgin_Islands,Saint_John
107199,2016-03-08,county,zika_reported,VI0001,NaN,NaN,30,cases,United_States_Virgin_Islands,Saint_Thomas
107200,2016-03-08,county,zika_reported,VI0001,NaN,NaN,43,cases,United_States_Virgin_Islands,Saint_Croix
107201,2016-03-08,county,zika_reported,VI0001,NaN,NaN,2,cases,United_States_Virgin_Islands,Saint_John
107222,2016-03-15,county,zika_reported,VI0001,NaN,NaN,35,cases,United_States_Virgin_Islands,Saint_Thomas
107223,2016-03-15,county,zika_reported,VI0001,NaN,NaN,57,cases,United_States_Virgin_Islands,Saint_Croix
107224,2016-03-15,county,zika_reported,VI0001,NaN,NaN,2,cases,United_States_Virgin_Islands,Saint_John

In [10]:
df.Country.value_counts()

Colombia                        86889
Dominican_Republic               5716
Brazil                           4253
Mexico                           2880
United_States                    2453
Argentina                        2016
El_Salvador                      1000
Ecuador                           796
United_States_Virgin_Islands      509
Guatemala                         480
Puerto_Rico                       260
Panama                            148
Nicaragua                         125
Haiti                              52
Norte                               7
Sudeste                             7
Sul                                 7
Centro                              7
nan                                 7
Nordeste                            7
Name: Country, dtype: int64