In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
df = pd.read_csv('pollution_us_2000_2016.csv')

In [54]:
phoenix=df[df.City == 'Phoenix']

In [55]:
## measure in parts per billion
phoenix.dtypes

Unnamed: 0             int64
State Code             int64
County Code            int64
Site Num               int64
Address               object
State                 object
County                object
City                  object
Date Local            object
NO2 Units             object
NO2 Mean             float64
NO2 1st Max Value    float64
NO2 1st Max Hour       int64
NO2 AQI                int64
O3 Units              object
O3 Mean              float64
O3 1st Max Value     float64
O3 1st Max Hour        int64
O3 AQI                 int64
SO2 Units             object
SO2 Mean             float64
SO2 1st Max Value    float64
SO2 1st Max Hour       int64
SO2 AQI              float64
CO Units              object
CO Mean              float64
CO 1st Max Value     float64
CO 1st Max Hour        int64
CO AQI               float64
dtype: object

In [56]:
col_to_delete = ['Unnamed: 0', 'NO2 Units', 'SO2 Units', 'CO Units']
for i in col_to_delete:
    del phoenix[i]
# del phoenix['State']

In [57]:
phoenix.head(2)

,State Code,County Code,Site Num,Address,State,County,City,Date Local,NO2 Mean,NO2 1st Max Value,...,O3 1st Max Hour,O3 AQI,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI
0,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,19.041667,49.0,...,10,34,3.0,9.0,21,13.0,1.145833,4.2,21,NaN
1,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,19.041667,49.0,...,10,34,3.0,9.0,21,13.0,0.878947,2.2,23,25.0

In [58]:
# from datetime import datetime
phoenix['Date']=pd.to_datetime(phoenix['Date Local'], infer_datetime_format=True)
# phoenix['Date Local'][0]

C:\Users\Ryan\AppData\Local\Continuum\Miniconda3\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [60]:
del phoenix['Date Local']

In [61]:
phoenix.describe()

C:\Users\Ryan\AppData\Local\Continuum\Miniconda3\lib\site-packages\numpy\lib\function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

,State Code,County Code,Site Num,NO2 Mean,NO2 1st Max Value,NO2 1st Max Hour,NO2 AQI,O3 Mean,O3 1st Max Value,O3 1st Max Hour,O3 AQI,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI
count,37912.0,37912.0,37912.000000,37912.000000,37912.000000,37912.000000,37912.000000,37912.000000,37912.000000,37912.000000,37912.000000,37912.000000,37912.000000,37912.000000,18959.000000,37912.000000,37912.000000,37912.000000,18955.000000
mean,4.0,13.0,5833.063516,21.538031,42.095769,13.758493,39.841950,0.024840,0.044394,10.301066,41.119540,1.713963,3.223499,9.937223,4.935862,0.582136,1.173412,9.659817,11.048272
std,0.0,0.0,3433.464666,9.818808,14.101936,8.477283,13.594571,0.011488,0.015062,1.887596,18.750698,1.268840,2.642570,8.279221,4.266655,0.388580,0.887116,9.070729,7.889808
min,4.0,13.0,3002.000000,0.000000,0.000000,0.000000,0.000000,0.000500,0.001000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.0,13.0,3002.000000,13.916667,33.500000,6.000000,31.000000,0.015458,0.034000,10.000000,30.000000,0.904496,1.600000,2.000000,NaN,0.316667,0.500000,1.000000,NaN
50%,4.0,13.0,3002.000000,21.083333,43.000000,19.000000,41.000000,0.024792,0.046000,10.000000,40.000000,1.450000,2.600000,8.000000,NaN,0.475000,0.900000,6.000000,NaN
75%,4.0,13.0,9997.000000,28.375000,51.000000,21.000000,48.000000,0.033333,0.055000,11.000000,47.000000,2.275000,4.000000,20.000000,NaN,0.745833,1.500000,21.000000,NaN
max,4.0,13.0,9997.000000,73.285714,124.000000,23.000000,105.000000,0.063167,0.089000,23.000000,147.000000,12.166667,69.000000,23.000000,92.000000,3.575000,8.100000,23.000000,59.000000

In [85]:
years = np.array([i.year for i in phoenix.Date])
months = np.array([ord(i.month[0]) for i in phoenix.Date])

plt.scatter(years, phoenix['NO2 Mean'], color = months)
plt.show()

TypeError: 'int' object is not subscriptable

In [74]:
phoenix.Date[0].year

2000